.App {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
}

.leftMenu{
  flex: 1;
  background-color: #192F48;
}

.mainContent{
  flex: 11;
}

.header{
  padding: 20px;
}

.options{
  margin: 0px 20px;
}

.optionContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:  center;
}

.settings{
}

.tableContainer{
  margin: 20px 20px;
}